@keyframes scale-up-down {
    0% {
      transform: scale(1); /* Start at normal size */
    }
    50% {
      transform: scale(1.06); /* Scale up to 1.05 */
    }
    100% {
      transform: scale(1); /* Return to normal size */
    }
  }
  
  /* Apply smooth transition to all images */
  .image {
    transition: transform 2s ease-in-out; /* Ensure smooth transition both ways */
    border-radius: 2%; /* Make the image rounded */
  }
  
  /* Scale effect for the active image with deep shadow */
  .scale {
    animation: scale-up-down 2s ease-in-out; /* Scale up and down smoothly */
  }
  
  /* Add deep shadow to the active image */
  .active-shadow {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Deep shadow when active */
  }
  
  /* Progress line styling */
  .progress-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #10375C;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #10375C; /* Tailwind's blue-600 */
    transition: width 4s ease-in-out;
  }
  
  /* Space between images */
  .space-x-4 > *:not(:last-child) {
    margin-right: 1rem; /* Adjust spacing between the images */
  }
  
  /* Ensure overflow is hidden */
  .overflow-hidden {
    overflow: hidden;
    border-radius: 2%;
  }
  