.coming-soon {
  positionn: absolute;
  top: 50%;
  left: 50%;
  transformm: translate(-50%, -50%);
  width: 100%; /* Adjusted width for better look */
  text-align: center;
  font-size: 22px; /* Default font size */
  color: #f5f5f5;
  background-colorr: rgba(91, 89, 89, 0.6); /* Set background color to 60% opacity */
  padding: 8px;
  border-radius: 8px;
  opacity: 0;
  animation: fadeInComingSoon 0s 1s forwards;
  display: flex;
  flex-direction: column; /* Changed to column to stack the SVG and text */
  align-items: center; /* Center align items */
  justify-content: center; /* Center justify items */
}

.icon {
  width: 100px; /* Adjust icon size */
  height: auto;
  opacity: 0.6;
}

@keyframes fadeInComingSoon {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Media Query for Responsive Font Size */
@media (max-width: 768px) { /* Adjust the max-width as needed */
  .into {
      font-size: 10px; /* Reduced font size for smaller screens */
  }

  .icon {
      width: 80px; /* Optionally reduce icon size as well */
  }
}

@media (max-width: 480px) { /* Further adjustments for very small screens */
  .into {
      font-size: 8px; /* Further reduced font size */
  }

  .icon {
      width: 70px; /* Further reduced icon size */
  }
}


/* HeroSection.css */
@keyframes scaleRotateBackground {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes textFadeIn1 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textFadeIn2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textFadeIn3 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-textFadeIn1 {
  animation: textFadeIn1 2s forwards;
  animation-delay: 1s;
}

.animate-textFadeIn2 {
  animation: textFadeIn2 2s forwards;
  animation-delay: 2.5s;
}

.animate-textFadeIn3 {
  animation: textFadeIn3 2s forwards;
  animation-delay: 4s;
}
