.image-container {
  width: 100%;
  height: 80vh; /* Set the height for the component */
  overflow: hidden; /* Ensure that any overflow is hidden */
  position: relative; /* Position relative to contain the absolute elements inside */
}

.image-up-down {
  width: 100%;
  height: 100%; /* Image takes full height of container */
  object-fit: cover; /* Ensure the image scales nicely within the container */
  position: absolute; /* Keep it inside the container */
  animation: scaleInOut 20s infinite; /* Apply scaling animation */
}

@keyframes scaleInOut {
  0%, 100% {
    transform: scale(1); /* Start and end at original size */
  }
  50% {
    transform: scale(1.2); /* Scale up the image by 20% */
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.animated-text {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.animated-button {
  padding: 10px 20px;
  background-color: #10375C;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.animated-button:hover {
  background-color: white;
  color: black;
}

/* Responsive styles */
@media (max-width: 768px) {
  .image-container {
    height: 60vh; /* Adjust height on smaller screens */
  }

  .animated-text {
    font-size: 1.5rem;
  }

  .animated-button {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .image-container {
    height: 50vh; /* Further reduce height for very small screens */
  }

  .animated-text {
    font-size: 1.2rem;
  }

  .animated-button {
    font-size: 1rem;
  }
}
